<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
        <form [formGroup]="SignupForm" (ngSubmit)="onSubmit()">         
            <div class="form-group">
               <label for="companyname">Company Name</label>
               <input type="text" class="form-control"
                id="companyname" formControlName = "companyname">            
            </div>
  
            <div class="form-group">
               <label for="companyAddress">Company Address</label>
               <input type="text" class="form-control" 
               id="companyAddress" formControlName = "companyAddress">
            </div>

            <div class="form-group">
                <label for="companyMobile">Company Mobile</label>
                <input type="text" class="form-control"
                 id="companyMobile" formControlName = "companyMobile">            
             </div>
   
             <div class="form-group">
                <label for="billNo">Bill No</label>
                <input type="text" class="form-control" 
                id="billNo" formControlName = "billNo">
             </div>

             <div class="form-group">
                <label for="billDate">Bill Date</label>
                <input type="text" class="form-control"
                 id="billDate" formControlName = "billDate">            
             </div>

             <div class="form-group">
               <label for="driverName">Driver name</label>
               <input type="text" class="form-control" 
               id="driverName" formControlName = "driverName">
            </div>

            <div class="form-group">
               <label for="carNo">Car Number</label>
               <input type="text" class="form-control"
                id="carNo" formControlName = "carNo">            
            </div>
   
             <div class="form-group">
                <label for="customerName">Customer Name</label>
                <input type="customerName" class="form-control" 
                id="customerName" formControlName = "customerName">
             </div>

             <div class="form-group">
                <label for="customerAddress">Customer Address</label>
                <input type="text" class="form-control"
                 id="customerAddress" formControlName = "customerAddress">            
             </div>
   
             <div class="form-group">
                <label for="email">Pickup Location</label>
                <input type="text" class="form-control" 
                id="pickupLocation" formControlName = "pickupLocation">
             </div>

             <div class="form-group">
                <label for="dropLocation">Drop Location</label>
                <input type="text" class="form-control"
                 id="dropLocation" formControlName = "dropLocation">            
             </div>
             <div class="RateKM">
               <label>OutStation</label>
               <div class="form-group">
                  <label for="totalKms">Total KMs</label>
                  <input type="number" class="form-control"
                  id="totalKms" formControlName = "totalKms" (change)="gettotalBill()">            
               </div>

               <div class="form-group">
                  <label for="ratePerKm">Rate/KM</label>
                  <input type="number" class="form-control"
                  id="ratePerKm" formControlName = "ratePerKm" (change)="gettotalBill()">            
               </div>

               <div class="form-group">
                  <label for="tollCharges">Toll Charges</label>
                  <input type="number" class="form-control" 
                  id="tollCharges" formControlName = "tollCharges" (change)="gettotalBill()">
               </div>

               <div class="form-group">
                  <label for="bataCharges">Bata Charges</label>
                  <input type="number" class="form-control" 
                  id="bataCharges" formControlName = "bataCharges" (change)="gettotalBill()">
               </div>
            </div>
            <div class="pickUp">
               <label>Pick and Drop</label>
               <div class="form-group">
                  <label for="billAmount">Bill Amount</label>
                  <input type="number" class="form-control" 
                  id="billAmount" formControlName = "billAmount" (change)="gettotalBill()">
               </div>
   
                <div class="form-group">
                   <label for="username">Other Charges</label>
                   <input type="number" class="form-control"
                    id="otherChargers" formControlName = "otherChargers" (change)="gettotalBill()">            
                </div>
            </div>

            <div class="hourlyRental">
               <label>Hourly Rental</label>
               <div style="display: flex;">
                  <div class="form-group" style="margin: 5px;">
                     <label for="hours">Hours</label>
                     <input type="number" class="form-control" 
                     id="hours" formControlName = "hours">
                  </div>
      
                   <div class="form-group" style="margin: 5px;">
                      <label for="hrsKMS">KMs</label>
                      <input type="number" class="form-control"
                       id="hrsKMS" formControlName = "hrsKMS">            
                   </div>
   
                   <div class="form-group" style="margin: 5px;">
                     <label for="hourlyCharges">Total charges</label>
                     <input type="number" class="form-control"
                      id="hourlyCharges" formControlName = "hourlyCharges" (change)="gettotalBill()">            
                  </div>
               </div>

               <div style="display: flex;">
                  <div class="form-group" style="margin: 5px;">
                     <label for="extraHours">Extra Hours</label>
                     <input type="number" class="form-control" 
                     id="extraHours" formControlName = "extraHours" (change)="getExtraHorsTotalBill()">
                  </div>

                  <div class="form-group" style="margin: 5px;">
                     <label for="extraHoursQuantity">Price/hr</label>
                     <input type="number" class="form-control"
                      id="extraHoursQuantity" formControlName = "extraHoursQuantity" (change)="getExtraHorsTotalBill()">            
                  </div> 
      
                   <div class="form-group" style="margin: 5px;">
                      <label for="extraHoursCharges" style="text-wrap: nowrap;">Extra hours charges</label>
                      <input type="number" class="form-control"
                       id="extraHoursCharges" formControlName = "extraHoursCharges">            
                   </div>  
                 
               </div>

               <div style="display: flex;">
                  <div class="form-group" style="margin: 5px;">
                     <label for="extraKMS">Extra KMS</label>
                     <input type="number" class="form-control" 
                     id="extraKMS" formControlName = "extraKMS"  (change)="getExtraKMSTotalBill()">
                  </div>

                  <div class="form-group" style="margin: 5px;">
                     <label for="extraKMSQuantity">Price/km</label>
                     <input type="number" class="form-control"
                      id="extraKMSQuantity" formControlName = "extraKMSQuantity"  (change)="getExtraKMSTotalBill()">            
                  </div> 
      
                   <div class="form-group" style="margin: 5px;">
                      <label for="extraKMSCharges" style="text-wrap: nowrap;">Extra KMS Charges</label>
                      <input type="number" class="form-control"
                       id="extraKMSCharges" formControlName = "extraKMSCharges">            
                   </div>  
                 
               </div>
               
            </div>
           

   
             <div class="form-group">
                <label for="email">Total Amount</label>
                <input type="number" class="form-control" 
                id="totalAmount" formControlName = "totalAmount">
             </div>
           <span class="help-block" *ngIf="!SignupForm.valid && SignupForm.touched">
               please enter valid data
             </span>
  
          <button class="btn btn-primary" type="submit">Submit</button> 
        </form>
      </div>
    </div>
  </div>