body{margin-top:20px;
    background-color:#eee;
    }
    
    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 1rem;
    }
.btns{
    display: flex;
    justify-content: center;
}
.comName{
    font-size: 32px;
    font-weight: 600;
    color: #167fe9;
}
.comRow{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.flexRow{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 50px;
}
.address{
    width: 45%;
    position: relative;
    bottom: 28px;
    left: 100px;
}
.headerBox{
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}
.billBox{
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}